{% extends "detector/base.html" %}
{% block content %}

<div class="col-md-10 text-right dt-image-register-btn">
    <a href="{{ url_for('whisper.upload_sound') }}" class="btn btn-primary">音源新規登録</a>
</div>

{% for user_sound in user_sounds %}

<div class="card col-md-7 dt-image-content">
    <header class="d-flex justify-content-between">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
        </svg>

        <div class="p-2">
            <form action="{{ url_for('whisper.delete_sound', sound_id=user_sound.UserSound.id) }}" method="POST">
                {{ delete_form.csrf_token }}
                {% if current_user.id == user_sound.User.id %}
                {{ delete_form.submit(class="btn btn-danger") }}
                {% else %}
                {{ delete_form.submit(class="btn btn-danger", disabled="disabled") }}
                {% endif %}
            </form>
        </div>

        <div class="p-2">
            <form action="{{ url_for('whisper.detect', sound_id=user_sound.UserSound.id) }}" method="POST">
                {{ detector_form.csrf_token }}
                {% if current_user.id == user_sound.User.id and user_sound.UserSound.is_detected == False %}
                {{detector_form.submit(class="btn btn-primary")}}
                {% else %}
                {{ detector_form.submit(class="btn btn-primary",disabled="disabled")}}
                {% endif %}
            </form>
        </div>

        <div class="dt-image-username">{{ user_sound.User.username }}</div>

    </header>
</div>
{% endfor %}

{% endblock %}